@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,700);
html, body, table, td, tr {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
  color: #635d5e !important;
  font-size: 16px;
  line-height: 1.5;
  margin: 0;
  padding: 0;
}

.font-family-open-sans {
  font-family: "Open Sans", Helvetica, Roboto, Arial, sans-serif;
}

.font-family-verdana {
  font-family: Verdana, Helvetica, Roboto, Arial, sans-serif;
}

.font-size-10 {
  font-size: 10px;
}

.font-size-11 {
  font-size: 11px;
}

.font-size-12 {
  font-size: 12px;
}

.font-size-13 {
  font-size: 13px;
}

.font-size-14 {
  font-size: 14px;
}

.font-size-15 {
  font-size: 15px;
}

.font-size-16 {
  font-size: 16px;
}

.font-size-17 {
  font-size: 17px;
}

.font-size-18 {
  font-size: 18px;
}

.font-size-19 {
  font-size: 19px;
}

.font-size-20 {
  font-size: 20px;
}

.font-size-21 {
  font-size: 21px;
}

.font-size-22 {
  font-size: 22px;
}

.font-size-23 {
  font-size: 23px;
}

.font-size-24 {
  font-size: 24px;
}

*, *:after {
  box-sizing: border-box;
}

html, body, #page-wrapper {
  min-width: 0;
}

#skip-link, #page-wrapper, #sidebar-first, #sidebar-second, #content, .one-sidebar #content, #footer {
  width: 100%;
  min-width: auto;
}

#crm-container, .crm-container {
  line-height: 1.5;
}
#crm-container iframe, .crm-container iframe {
  width: 100%;
  min-height: 200px;
}
#crm-container a, .crm-container a {
  color: #de447a;
  text-decoration: underline;
}
#crm-container a.button, #crm-container span.crm-button, .crm-container a.button, .crm-container #crm-container span.crm-button, #crm-container .crm-container span.crm-button, .crm-container span.crm-button {
  padding: 6px 10px;
  background: #6fb346;
  text-transform: uppercase;
  font-weight: 700;
  color: #fff;
  font-size: 14px;
  border-radius: 3px;
  border: 0;
  outline: 0;
  text-decoration: none;
  text-shadow: none;
}
#crm-container span.crm-button input, .crm-container span.crm-button input {
  font-size: 14px !important;
  text-transform: uppercase;
  text-shadow: none;
  color: #fff;
}
#crm-container .crm-section .label, .crm-container .crm-section .label {
  text-align: left;
}
#crm-container .crm-section .label label, .crm-container .crm-section .label label {
  font-weight: 700;
}
#crm-container .register_link-section, .crm-container .register_link-section {
  padding: 0;
  margin: 15px 0;
}

.wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 15px;
}
@media only screen and (min-width: 768px) {
  .wrapper {
    width: 768px;
    padding: 0;
  }
}
@media only screen and (min-width: 1024px) {
  .wrapper {
    width: 1024px;
  }
}
@media only screen and (min-width: 1200px) {
  .wrapper {
    width: 1200px;
  }
}

.topbar {
  background: #f1f1f1;
  border-bottom: 1px solid #d9d9d9;
  height: 37px;
  margin-bottom: 37px;
}

.header {
  text-align: center;
  background: #fff !important;
  padding-bottom: 20px;
}

.main-content {
  border-top: 20px solid #6fb346;
  padding: 0px 5px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}
@media only screen and (min-width: 1024px) {
  .main-content {
    width: 90%;
  }
}
@media only screen and (min-width: 1200px) {
  .main-content {
    width: 80%;
  }
}

#content img {
  max-width: 100%;
  height: auto;
}
#content .crm-event-info-form-block .event-info .label {
  width: auto;
}
#content .crm-event-info-form-block .event-info .content {
  float: left;
  margin-left: 15px;
}
#content .crm-event-info-form-block .event_map-section .content {
  width: 100%;
  margin-left: 0;
}
#content .crm-event-info-form-block .event_map-section #google_map {
  max-width: 100%;
}
#content .crm-event-info-form-block .action-link {
  padding: 0;
}
#content .crm-contribution-main-form-block #priceset .label {
  float: none;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #content .crm-contribution-main-form-block #priceset .label {
    float: left;
    text-align: right;
  }
}
#content .crm-contribution-main-form-block #priceset .content {
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  #content .crm-contribution-main-form-block #priceset .content {
    margin-left: 19%;
  }
}
#content .crm-contribution-main-form-block #priceset .section-pricesetTotal .label {
  float: left;
  width: auto;
}
@media only screen and (min-width: 768px) {
  #content .crm-contribution-main-form-block #priceset .section-pricesetTotal .label {
    width: 17%;
  }
}
#content .crm-contribution-main-form-block #priceset .section-pricesetTotal .content {
  float: left;
  margin-left: 15px;
}
@media only screen and (min-width: 768px) {
  #content .crm-contribution-main-form-block #priceset .section-pricesetTotal .content {
    float: none;
    margin-left: 19%;
  }
}
#content .crm-contribution-main-form-block .email-5-section .label {
  float: none;
  width: auto;
  text-align: left;
}
@media only screen and (min-width: 768px) {
  #content .crm-contribution-main-form-block .email-5-section .label {
    float: left;
    width: 17%;
    text-align: right;
  }
}
#content .crm-contribution-main-form-block .email-5-section .content {
  margin-left: 0;
}
@media only screen and (min-width: 768px) {
  #content .crm-contribution-main-form-block .email-5-section .content {
    margin-left: 19%;
  }
}

h1.title {
  color: #00969b;
}

.crm-container h3 {
  background: #6fb346;
  color: #fff;
  padding: 0px;
}

.crm-container .crm-submit-buttons {
  height: 50px;
}

.crm-container td.price_set_option-label {
  padding: 0px;
}

.crm-container .form-layout-compressed td {
  padding: 0 10px 0 0;
}

.crm-container .help, .crm-container #help {
  background: transparent;
  border: 1px solid #f1f1f1;
  height: auto;
}
.crm-container .help h3, .crm-container #help h3 {
  color: #635d5e;
}
.crm-container .help .label, .crm-container #help .label {
  padding-top: 20px;
  padding-bottom: 20px;
}

.iCal_links-section {
  margin-top: 50px;
}

.crm-container .crm-section .label {
  float: left;
  width: 24%;
  text-align: right;
  display: block;
}
.crm-container .crm-section .content {
  margin-left: 24%;
}

#page-wrapper, #footer-wrapper {
  background: #545454;
}

div.crm-section.crm-socialnetwork.help iframe {
  min-height: 0 !important;
}
div.crm-section.crm-socialnetwork.help .label {
  width: 17%;
}

#crm-container a, .crm-container a {
  color: #de447a;
}

.crm-container .status {
  background-color: #ffffcc;
  border: 1px solid #ffff66;
  color: #3e3e3e;
}

.crm-container .crm-error, .crm-container .crm-inline-error {
  background: #fbe3e4;
  color: #8a1f11;
}

input[type="text"], input[type="password"] {
  max-width: 100%;
}
