#preview h1.title {
    color: #00969b;
    background: #fff;
}

#preview .crm-container fieldset {
    background: none;
    padding: 4px 0px;
    margin: 10px 0px;
    border: none;
    border-top: 1px solid #CFCEC3;
}

#preview .crm-container fieldset legend {
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    padding: 4px;
    background: none;
    border: medium none;
    background-color: transparent;
    color: #3E3E3E;
    position: relative;
    text-indent: 0px;
    width: auto;
}

#preview .crm-container .crm-error, 
#preview .crm-container .crm-inline-error {
    background: #FBE3E4;
    color: #8A1F11;
}

#preview .crm-container.crm-public .crm-submit-buttons {
    height: 50px;
}

#preview .crm-container span.crm-button {
    padding: 6px 10px;
    background: #6fb346;
    border-radius: 3px;
    cursor: pointer;
    float: left;
}

#preview .crm-container.crm-public #crm-submit-buttons input {
    padding: 3px 10px;
    margin: 0px;
    background: none;
    border: none;
    font-size: 14px;
    text-transform: uppercase;
    color: #fff;
    cursor: pointer;
}